<h2 class="container">Administrator Dashboard</h2>
<table>
  <tr>
    <td>
      <%= link_to 'View items', admin_items_path %>
      <%= link_to "Edit Account", edit_user_path(@admin) %>
      <%= link_to "Add New Items", new_admin_item_path %>
    </td>
  </tr>
</table>

<div class="order-info">
  <% @orders.each do |order| %>
    <ul class="collapsible popout" data-collapsible="accordion">
      <li>
        <div class="collapsible-header">
          <%= link_to "Order number: #{order.id}", order_path(order) %>
        </div>
        <div class="collapsible-body">
          <p>Order Quantity: <%= order.quantity %></p><br>
          <p>Order Total: <%= number_to_currency(order.sum) %></p>
        </div>
      </li>
    </ul>
  <%end %>
</div>
