<div class="container">
  <h2 class="centered">Administrator Dashboard</h2>
  <hr>
  <br>
  <div class="row">
    <div class="col s4">
      <%= link_to 'View items', admin_items_path, class: "waves-effect waves-light btn #3e2723 brown darken-4" %>
    </div>
    <div class="col s4">
      <%= link_to "Edit Account", edit_user_path(@admin), class: "waves-effect waves-light btn #3e2723 brown darken-4" %>
    </div>
    <div class="col s4">
      <a class='dropdown-button btn #3e2723 brown darken-4' href='<%= new_admin_item_path %>' data-activates='dropdown1'>Add New Item</a>

      <ul id='dropdown1' class='dropdown-content'>
        <li><p class="center">categories</p></li>
        <li class="divider"></li>
        <% @categories.each do |category| %>
        <li id="item-create-<%= category.id %>"><%= link_to "#{category.name}", new_admin_item_path(category_id: category.id) %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <ul class="collection with-header">
        <li class="collection-header"><strong>Order Status</strong></li>
        <li class="collection-item"><%= link_to "Ordered:",   admin_order_path(0, status: 0) %> <%= Order.where(status: 0).count(:status) %></li>
        <li class="collection-item"><%= link_to "Paid:",      admin_order_path(0, status: 1) %>  <%= Order.where(status: 1).count(:status) %></li>
        <li class="collection-item"><%= link_to "Cancelled:", admin_order_path(0, status: 2) %> <%= Order.where(status: 2).count(:status) %></li>
        <li class="collection-item"><%= link_to "Completed:", admin_order_path(0, status: 3) %> <%= Order.where(status: 3).count(:status) %></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col 12">
      <a class='dropdown-button btn #3e2723 brown darken-4' href='<%= new_admin_item_path %>' data-activates='dropdown2'>Order Status</a>
      <ul id='dropdown2' class='dropdown-content'>
        <li><p class="center">Status</p></li>
        <li class="divider"></li>
        <% @admin.orders.statuses.each do |status, num| %>
        <li><%= link_to "#{status}", "#", id: "status-#{status}" %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="order-info">
    <% @orders.each do |order| %>
      <ul class="collapsible popout order" data-collapsible="accordion" data-status="<%= order.status %>">
        <li>
          <div class="collapsible-header collapsible-header<%= order.id %>">
            <%= link_to "Order number: #{order.id}", admin_order_path(order) %>
          </div>
          <div class="collapsible-body">
            <p>Order Quantity: <%= order.quantity %></p><br>
            <p>Order Total: <%= number_to_currency(order.sum) %></p>
          </div>
        </li>
      </ul>
    <%end %>
  </div>
</div>
