<h2 class="container">Administrator Dashboard</h2>
<table>
  <tr>
    <td>
      <%= link_to 'View items', admin_items_path %>
      <%= link_to "Edit Account", edit_user_path(@admin) %>
      <%= link_to "Add New Items", new_admin_item_path %>
    </td>
  </tr>
</table>

<div id ="status">
  <li> <%= link_to "Ordered:",   admin_order_path(0, status: 0)%> <%= Order.where(status: 0).count(:status) %> </li>
  <li> <%= link_to "Paid:",      admin_order_path(0, status: 1)%>  <%= Order.where(status: 1).count(:status) %> </li>
  <li> <%= link_to "Cancelled:", admin_order_path(0, status: 2)%> <%= Order.where(status: 2).count(:status) %> </li>
  <li> <%= link_to "Completed:", admin_order_path(0, status: 3)%> <%= Order.where(status: 3).count(:status) %> </li>
</div>


<div class="order-info">
  <% @orders.each do |order| %>
    <ul class="collapsible popout" data-collapsible="accordion">
      <li>
        <div class="collapsible-header<%= order.id %>">
          <%= link_to "Order number: #{order.id}", admin_order_path(order) %>
        </div>
        <div class="collapsible-body">
          <p>Order Quantity: <%= order.quantity %></p><br>
          <p>Order Total: <%= number_to_currency(order.sum) %></p>
        </div>
      </li>
    </ul>
  <%end %>
</div>
