<h1>Order Id: <%= @order.id %></h1>

<ul class="collection with-header">
  <li class="collection-header"><h4>Purchaser's Name: <%= @order.user.username.capitalize %></h4></li>
  <li class="collection-item" id="user-address">Purchaser's Address: <%= @order.user.address %>, <%= @order.user.city %>, <%= @order.user.state %>, <%= @order.user.zip %></li>
  <% @order.items.each do |item| %>
    <li class="collection-item" id="order-item<%= item.id %>-title"><%= link_to "#{item.title.capitalize}", item_path(item) %></li>
    <li class="collection-item" id="order-item<%= item.id %>-quantity">Quantity: <%= @order.quantity_of_item(item.id) %></li>
    <li class="collection-item" id="order-item<%= item.id %>-price">Price: <%= number_to_currency(item.price) %></li>
    <li class="collection-item" id="order-item<%= item.id %>-subtotal">Subtotal: <%= number_to_currency(@order.subtotal_of_item(item)) %></li>
    <br>
  <% end %>
  <li class="collection-item"><strong>Total Quantity: <%=@order.quantity %></strong></li>
  <li class="collection-item"><strong>Date of Order: <%= @order.created_at.strftime("%b. %d %Y") %></strong></li>
  <li class="collection-item"><strong>Order Total Price: <%=number_to_currency(@order.sum) %></strong></li>
  <li class="collection-item"><strong>Order Status: <%= @order.status %></strong></li>
</ul>
