<div class="row">
  <div class="col s12 m7">
    <div class="card">
      <div class="card-content">
        <p>
            <%= form_for(@user) do |f| %>
              <%= f.label :username %>
              <%= f.text_field :username %>
              <%= f.label :password %>
              <%= f.password_field :password %>
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation %>
              <%= f.label :address %>
              <%= f.text_field :address %>
              <%= f.label :city %>
              <%= f.text_field :city %>
              <%= f.label :state %>
              <%= f.text_field :state %>
              <%= f.label :zip %>
              <%= f.text_field :zip %>
              <%= f.submit "Create Account", class: "waves-effect waves-light btn" %>
            <% end %>
      </p>
      </div>
    </div>
  </div>
</div>
