<div class="row">
  <div class="col s10">
    <div class="slider fullscreen">
      <ul class="slides">
        <li>
          <img src="https://static.pexels.com/photos/9186/food-beans-coffee-drink-large.jpg">
          <div class="caption center-align">
            <h3>Welcome to My Coffee Now</h3>
            <h5 class="light grey-text text-lighten-3">The BEST way to order your Coffee.</h5>
            <!-- <h4 id="sign-up"><%= link_to "Sign Up", new_user_path, {style: "color: orange" } %>  |  <%= link_to "Login", login_path, {style: "color: orange" } %>  |  <%= link_to "Menu", items_path, {style: "color: orange" } %></h4> -->
          </div>
        </li>
        <li>
          <img src="https://static.pexels.com/photos/2059/restaurant-red-beans-coffee-large.jpg">
          <div class="caption right-align">
            <h3>Start your Day Off Right</h3>
            <h5 class="light grey-text text-lighten-3">A mix of great products for you to choose from!</h5>
            <!-- <h4><%= link_to "Sign Up", new_user_path, {style: "color: orange" } %>  |  <%= link_to "Login", login_path, {style: "color: orange" } %>  |  <%= link_to "Menu", items_path, {style: "color: orange" } %></h4> -->
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
