<h1> <%=current_user.username.capitalize %>'s Past Orders </h1>

<ul class="collection with-header">
  <li class="collection-header"><h4>Order #: <%= @order.id%></h4></li>
  <% @order.items.each do |item| %>
  <li class="collection-item"><h4><%= link_to "#{item.title}", item_path(item)%></h4></li>
  <li class="collection-item">Quantity: <%= @order.quantity_of_item(item.id) %></li>
  <li class="collection-item">Price: <%= number_to_currency(item.price) %></li>
  <br>
  <% end %>
  <li class="collection-item"><strong>Total Quantity: <%=@order.quantity %></strong></li>
  <li class="collection-item"><strong>Date of Order: <%= @order.created_at.strftime("%d %b. %Y") %></strong></li>
  <li class="collection-item"><strong>Order Total Price: <%=number_to_currency(@order.sum) %></strong></li>
  <li class="collection-item"><strong>Order Status: <%= @order.status %></strong></li>
</ul>
