<h1 class="container">Items In Cart</h1>
<table>
  <tr>
    <td data-field="name">Item Name</td>
    <td data-field="description">Item Description</td>
    <td data-field="price"> Price</td>
    <!-- <td data-field='image'>Picture</td> -->
    <td data-field='quantity'>Quantity</td>
    <td data-field="remove">Remove</td>
  </tr>

  <%@items_in_cart.each do |item| %>
  <tr>
    <div id="item<%= "#{item.id}"%>">
      <td> <%= item.title %>  </td>
      <td> <%= item.description %>  </td>
      <td> <%= number_to_currency(item.price) %>  </td>

      <!-- <td> <%= image_tag(item.image) %>  </td> -->

      <td>quantity:<%=item.quantity%> <%= button_to "+", cart_item_path(item.id), method: :put %>  </td>

      <td><%= link_to "Remove",cart_item_path(item.id), method: :delete %></td>
    </div>
  </tr>
  <% end %>

</table>
<br>

<div class="">
  <%= number_to_currency(@total) %>
</div>
