<br>
<h1 class='container'>Menu Items</h1>
<br>

<div class="row">
  <div class="col s9">
    <ul class="collection">
      <%@items.each do |item| %>
      <li class="collection-item avatar" id="item<%= item.id %>">
        <%= image_tag(item.image, class: "circle") %>
        <strong><span class="title"><%=link_to item.title.capitalize, item_path(item) %></span></strong>
        <p><%= number_to_currency(item.price) %></p>
        <span class="secondary-content"><%= button_to "Add to Cart", cart_items_path(id: item.id), class: "waves-effect waves-light btn black" %></span>
      </li>
      <% end %>
    </ul>
  </div>

  <div class="col s3" id="butooon">
    <%= button_to cart_path, method: :get, class: "waves-effect waves-light btn black" do %>
      <i class="fa fa-shopping-cart"> View Cart</i>
    <% end %>
  </div>
</div>
