<div class="row">
  <div class="col s8 m7">
    <div class="card hoverable">
      <div class="card-image">
        <%= image_tag(@item.image) %>
        <span class="card-title"><%= @item.title.capitalize %></span>
      </div>
      <div class="card-content">
        <p><%= number_to_currency(@item.price) %></p>
      </div>
      <div class="card-action">
        <%= link_to "Back to Menu", items_path %>
      </div>
    </div>
  </div>
  <div class="col 4">
    <p><%= @item.description %></p>
  </div>
</div>
