<!DOCTYPE html>
<html>
<head>
  <title>MyCoffeeOrder</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>
  <nav>
    <div class="nav-wrapper #000000 black">
      <%= link_to "My Coffee Now", '/', class: "brand-logo" %>
      <ul id="nav-mobile" class="right hide-on-med-and-down #40c4ff light-blue accent-2">
        <% if current_user %>
          <li><%= link_to "Logout", logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Login", login_path %></li>
          <li> <%= link_to "Sign Up", new_user_path %> </li>
        <% end %>
        <li><%= link_to "Menu", items_path %></li>
        <li><%= link_to "Cart", cart_path %></li>
      </ul>
    </div>
  </nav>


  <div class="container">
    <%flash.each do |type, msg| %>
      <%=content_tag :div, msg, class: "flash_#{type}" %>
    <% end %>

    <%= yield %>
  </div>
  <footer class="page-footer black">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">My Coffee Order</h5>
                <p class="grey-text text-lighten-4">life's too short for bad coffee.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="/cart">Cart</a></li>
                  <li><a class="grey-text text-lighten-3" href="/users/new">Sign Up</a></li>
                  <li><a class="grey-text text-lighten-3" href="/login">Login</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
  </body>
</html>
